@import "bootstrap-sprockets";
@import "bootstrap";

.student-image {
  width: auto;
  height: 200px;
}
.jumbotron {
  padding-top: 0;
  padding-bottom: 0;
}

.alert {
  padding: 0;
  margin-bottom: 0;
}

.notice {
  padding: 0;
  margin-bottom: 0;
}

.navbar {
  margin-bottom: 0;
}
.student-form {
  border-collapse:collapse;
}
.student-form td {
  padding-top: 10px;
}
.grey {
  color: grey;
}
.red {
  color: red;
}
.yellow {
  color: yellow;
}
.green {
  color: green;
}
